@charset "utf-8";
/* CSS Document */

body{
	padding: 0;
	margin: 0;
	min-width: 990px;
	/*background: #FbF;*/
    background: #ebeced;
}
div{
	display: block;
}

.head{
	position: relative;
	width: 100%;
	min-width: 990px;
	height: 180px;
	/*margin: -42px auto 0 ;*/
	background: url(../pic/b-head.png) no-repeat center -10px;
	z-index: 5;
}

.topLine{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin:auto;
	width: 100%;
	min-width: 990px;
	height: 42px;
	background-color:rgba(255,255,255,0.4);
	z-index: 10;
}
.line{
	display: block;
    margin: 0 auto auto;
    /*position: relative;*/
    /*text-align: left;*/
    z-index: 10;
    width: 980px;
    zoom: 1;
}
.leftline{
	float: left;
	height: 42px;
	font-size: 20px;
}
ul{
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}
.leftline ul li{
	float: left;
    text-align: center;
   	padding: 0 15px;
    line-height: 42px;
    /*position: relative;*/
    transition: -42.85s background-color;
}
.rightline{
	float: right;
	height: 42px;
	font-size: 20px;
	text-align: center;
}
.rightline ul li{
    float: left;
    text-align: center;
    padding: 0 15px;
    line-height: 42px;
    position: relative;
    display: block;
}


.text{
    font-size: 20px;
	text-decoration:none;
	font-weight: 600;
	font-style: normal;
	text-align: center;
	color: #222;
}
.pic{
    margin: 0 -15px;
    padding: 0;
    width: 58px;
    z-index: 5;
    background: url(../pic/b-post.png) center center no-repeat;
    height: 48px;
    transition: -42.85s background-color;
    /*border-radius: 0 0 5px 5px;*/
    color: #fff!important;
    font-size: 20px;
    display: block;
}

.hover:hover{
	background: rgba(255,255,255,0.5);
}
.pic:hover{
background-image:url(../pic/b-post-hover.png);
}

/****************************************************************************************************/
.body{
	position: relative;
	display: block;
	margin: auto;
	/*top: 30px;*/
	width: 100%;
	min-width: 990px;
	height: 300px;
	/*background: red;*/
	z-index: 5;
}
.body-line{
	position: relative;
	display: block;
    margin: auto;
    width: 980px;
	/*background: white;*/
	z-index: 15;
}
.body-left{
	position: relative;
	display:block;
	float: left;
	margin: 20px auto;
	width: 400px;
	height: 260px;
	z-index: 25;
	overflow: hidden;
    border-radius: 6px;
}
.body-left:hover{
	cursor: pointer;
	opacity: 0.7;
    transition: opacity 1s;
}
.body-right{
	position: relative;
	display:block;
	float: right;
	margin: 20px auto;
	/*padding: 10px;*/
	width: 570px;
	height: 280px;
	/*background: green;*/
	z-index: 25;
}
.six-pic{
	position: relative;
	left: 20px;
    display: block;
	position: relative;
	margin: 0;
    padding: 0;
    list-style-type: none;
}
.one-pic{
	position: relative;
    display: block;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
	width: 180px;
	height: 130px;
	/*background: blue;*/

}
.one-pic:hover{
	cursor: pointer;
	opacity: 0.7;
    transition: opacity 1s;
}
.temp-link{

}
.temp-pic{
	width: 170px;
	height: 120px;
	overflow: hidden;
    border-radius: 6px;
}
/******************************************************************************************/
.blog-list{
	position: relative;
	top: 50px;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 990px;
}
.ruku-blog{
	display: block;
	margin: 0 auto;
	padding: 10px;
	height: 740px;
	width: 960px;
    background: #ebeced;
}
.blog{
	float: left;
	display: block;
	margin: 10px;
	width: 300px;
	height: 350px;
	background: #fff;
	overflow: hidden;
    border-radius: 10px;

}
.blog-pic{
	width: 300px;
	height: 240px;
	overflow: hidden;
    border-radius: 10px;
	background: #000;
	cursor: auto;
}
.blog-pic:hover{
	cursor: pointer;
	opacity: 0.7;
    transition: opacity 1s;
}
.blog-title{
	color: rgba(0,0,0,0.7);
	float: left;
	margin: 10px;
	text-decoration: none;
    font-size: 32px;
    line-height: 1.6;
}
.blog-title:hover{
	color: #000;
}
.blog-date{
	clear: both;
	position: relative;
	float: right;
	margin-right: 20px;
    font-size: 16px;
    line-height: 1.6;
    font-weight: normal;
    color: #b5b9bd;
}

/******************************************************************************************/
.footer{
    /*clear: both;*/
    position: relative;
    width: 100%;
    min-width: 980px;
    background: #292d35;
    margin-top: 200px;
    box-sizing: border-box;
    display: block;
}
