.art-body{
	position: absolute;
	display: block;
	margin: auto;
	width: 100%;
	min-width: 990px;
	min-height: 990px;
}
.artical{
	text-align: center;
}

.new-footer{
    clear: both;
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    min-width: 980px;
    /*background: #292d35;*/
	color: #292d35;
	background: rgb(153, 162, 170);
    box-sizing: border-box;
}
